p Un proyecto de Villavicencio JS, una comunidad en pro del crecimiento de desarrolladores en la ciudad de Villavicencio.
p A través de este servicio puede denunciar los abusos en el servicio de taxi, y consultar por placa el historial de un taxi.