amarillo = #E7DE3D
negro = #212121
texto = #7A7A7A
fondo = #F9F9F8
borde = #E0E0DF
@font-face
   font-family jinky
   src url(../fonts/JINKY.eot)
   src url(../fonts/JINKY.eot?#iefix) format('embedded-opentype'),
   \	url(../fonts/JINKY.woff) format('woff'),
   \	url(../fonts/JINKY.ttf) format('truetype'),
   \	url(../fonts/JINKY.svg#jinky) format('svg')
   font-style normal
   font-weight bold
@font-face
   font-family bubble
   src url(../fonts/bubblegumsansregular.eot)
   src url(../fonts/bubblegumsansregular.eot?#iefix) format('embedded-opentype'),
   \	url(../fonts/bubblegumsansregular.woff) format('woff'),
   \	url(../fonts/bubblegumsansregular.ttf) format('truetype'),
   \	url(../fonts/bubblegumsansregular.svg#jinky) format('svg')
   font-style normal
   font-weight noraml
body
    background-color #ececec
    font-size 16px
    color texto
	#container
		padding 0 1%
	header
		background url(../images/header.png)
		background-size cover
		background-repeat no-repeat
		color white
		overflow hidden
		padding 2.5em .7em 0 .5em
		position relative
		font-size 1.4em
		h1
			float right
			font-family jinky
			margin .1em .4em .1em 0
		img
			float right
			width 150px
			margin-top .5em
	nav
		position relative
		ul 
			list-style none
			margin 0
			padding 0 0 0 .5em
			li 
				display inline-block
				margin: 0 3% 0 0
				width 22%
				a 
					color negro
					display block 
					font-size 1.2em  
					padding 0.6em 0.3em .2em 1em
					text-decoration none
					text-align center
					font-weight bold
					font-family bubble
					border-bottom 0.2em solid negro
				a:hover
					border-color amarillo
	#main
		background-color: white
		max-width: 1080px
	    margin: auto
	    background-color fondo
	section#denuncia 
		padding 1em 2em 
		h2
			text-align center
		#login
			padding 1%
			position relative
			p 
				font-size 1.2em
				text-align center
			img 
				width 80%
				margin 0 10%
		img#taxista
			display none
			
	article#info-proyecto
		display block
		color negro
		padding 1em 3em 3em 3em
		background-color amarillo
		h3
			font-size 5em
			font-family jinky
			margin  0
		p
			margin 0 0 0.7em 0 
			font-size 1.5em
	section#colaboradores
		padding 0em 2% 3em 2%
		h3
			font-size 3em
			text-align center
			margin 0.5em 0
		article 
			border 0.2em solid borde
			margin-bottom 1em
			min-height 128px
			position relative
			padding 1%
			h4	
				font-size 2em
				margin 0

@media screen and (min-width: 600px)
	nav ul li a 
		font-size 1.1em
	section#denuncia #login
		p 
			font-size 1.6em
		img 
			width 66%
			margin 0 15%
	body header 
		h1
			font-size 3em
		img 
			width 250px
			margin-right 1em
			margin-top 1em
			

@media screen and (min-width: 800px)
	section#colaboradores
		overflow: hidden
		article.colaborador 
			width 46%
			float left
			margin 0.5%;

	nav ul li a 
		font-size 1.5em
	body header 
		h1
			font-size 5em
		img 
			width 400px
	section#denuncia
		overflow hidden 
		#login
			width 40%
			float left
			margin 0.5%;
			p 
				margin-top 0
				text-align left
			img 
				width 100%
				margin 0

		img#taxista
			display inline-block
			width 50%
			margin 1.5em 2% 1em 4%;
	/*.colaborador:nth-child(1)
		background-color red
		margin-right 2%
		Me gustaria hacerlo de esta forma :'(
	*/