extends layout
block main
	header
		h1 Bienvenido a DenunciaLo.co
	nav
		ul
			li Denuncielo
			li Asegurese
			li Tops
			li Tenga en Cuenta
	section#denuncia
		if(!user)
			a(href="/auth/twitter") Login con twitter
		else
			h1 Bienvenido! #{user.username}
			section#info-proyecto
				article#descripcion
					h2 DenunciaLo.Co
					p Contenido
				article#colaboradores
					h2 Colaboradores